.App {
  text-align: center;
}

.App-header {
  background-color: #fefefe;
  min-width: 40rem;
  min-height: 40rem;
  display: flex;
  flex-direction:row;
}

.relogio {
  background: #826fffb3;
  font-size: 22px;
  letter-spacing: 1px;
  min-width: 48rem;
  min-height: 22.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row_2 {
  background: #4390dc;
  min-width: 48rem;
  min-height: 22.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  background-color:#00CED1;
  min-width: 48rem;
  min-height: 44.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_ball {
  background-color: rgba(210, 105, 30, 0);
  min-width: 45rem;
  min-height: 42rem;
  padding: 15px;

}

.ball {
  position: inherit;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eaef4c;
  transition-timing-function: ease;
  transition-duration: 3s;

  transition-duration: 1s;
}

.ball:hover {
  transform: translate3d(600px, 600px, 600px);
  transform:scale3d(650px, 650px, 650px);
  transition-delay: 2s;
}
