.App {
  text-align: center;
}

.App-header {
  background-color: #fefefe;
  min-width: 40rem;
  min-height: 40rem;
  display: flex;
  flex-direction:row;
}

.relogio {
  background: #826fffb3;
  font-size: 22px;
  letter-spacing: 1px;
  min-width: 48rem;
  min-height: 22.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row_2 {
  background: #4390dc;
  min-width: 48rem;
  min-height: 22.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  background-color:#00CED1;
  min-width: 48rem;
  min-height: 44.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
